* {
    font-family: 'Prompt', sans-serif;;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root {
    --bg:#000000;
    --bg-card: #0E1218;
    --text: #F1F1F1;
    --img-profile: #8257e5;
    --buttons: #FFF;
    --border-button: #1A1A1A;
}
body {
    display: flex;
    justify-content: space-evenly;
    /* padding-top: 50px; */
    background: var(--bg-card);
    color: var(--text);
}

.cta-card {
    position: absolute;
    top: -1px;
    left: 200px;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    text-align: center;

    transition: all 0.5s ease;
}

.customize-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-self: center;
    width: 25rem;
    height: 31.25rem;
    border-radius: 50px;
    background-color: #140e18;
    align-items: center;
}
.customize-container h4 {
    justify-self: center;
    font-size: 24px;
    font-weight: 400;
}
#btn {
    padding: 18px 46px; 
    color: var(--buttons);
    background-color: var(--bg);
    border: 2px solid var(--border-button);
    border-radius: 15px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 400;
}
#colorText {
    font-family: 'Prompt', sans-serif;
    height: 36px;
    width: 150px;
    font-size: 24px;
}
#colorText_label span {
    font-size: 24px;
}
#colorText:focus {
    outline: ridge;
}

.bg-card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg);
    width: 438px;
    height: 693px;
    border-radius: 50px;
    transition: all 0.5s ease;
}
.card {
    background-color: var(--bg-card);
    color: var(--text);
    width: 407px;
    height: 644px;
    border-radius: 50px;
    overflow: hidden;
    position: relative;
}

.header-card {
    display: flex;
    gap: 20px;
    height: 55px;
    align-items: center;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    
    position: absolute;
    top: 37px;
    left: 34px;
}
.header-card .logo-container {
    display: flex;
    height: 55px;
    width: 55px;
    border: 1px solid #FFF;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.user-image {
    height: 350px;
    border-radius: 50%;
    position: absolute;

    top: 134px;
    left: 72px;
    box-sizing: content-box;
    border: 10px solid var(--img-profile);
}

.footer-card {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 35px;
    font-size: 20px;


    position: absolute;
    top: 582px;
    left: 217px;
}
.footer-card .logo-container {
    height: 100%;
}
.header-card .logo, .footer-card .logo {
    height: 36px;
    line-height: 0;
}

.info-list {
    display: flex;
    flex-direction: column;
    align-content: center;
    list-style-type: none;
    background: linear-gradient(180deg, #000000 3.65%, rgba(70, 69, 69, 0.72) 53.65%, rgba(62, 56, 56, 0.42) 100%);
    border-radius: 50px;
    padding: 25px 20px;
    width: 195px;

    font-size: 16px;

    position: absolute;
    top: 352px;
    left: 21px;
    gap: 10px;
}
.info-list li {
    display: flex;
    align-content: center;
    gap: 10px;
    font-weight: 400;
}
.info-list li img {
    line-height: 0;
    height: 20px;
}

